
#mainDiv{
  width: 900px;
  height: 900px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
#grandParent{
  width: 700px;
  height: 700px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;

}

#parentDiv{
  width: 500px;
  height: 500px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;

}
#childDiv{
  width: 300px;
  height: 300px;
  border: 2px solid grey;
  

}